
<div class="main-container">
    <br>
    <br>
    <br>
    <br>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Details Form</mat-card-title>
            <mat-card-subtitle>Parents Details</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="example-container">
            <form [formGroup]="options">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Full name with Initials</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-select required>
                        <mat-option value="father">Father</mat-option>
                        <mat-option value="mother">Mother</mat-option>
                        <mat-option value="mother">Guardian of the child</mat-option>
                    </mat-select>
                    <mat-label>
                        <mat-icon>favorite</mat-icon> Relationship
                    </mat-label>
                </mat-form-field>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Infants age</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Ex :-If infant's age 45 weeks, then enter 45 </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Sex</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Male, Female or Other</mat-hint>
                    </mat-form-field>
                </p>
                <div class="row">
                    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

                    <div class="file-upload">
                        <b style="margin-right: 10px;"><i>
                            {{fileName || "Please upload video from here"}}
                        </i></b>
                        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-checkbox [formControl]="hideRequiredControl">I hereby agree to allow this video to be used for the research and evaluations regarding Cerebral Palsy</mat-checkbox>
            </form>
            <button class="button" mat-raised-button color="accent" >Let's diagnosis</button>

        </mat-card-content>
    </mat-card>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>